[Unit]
Description={{ elasticsearch.shortName }} Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=infinity
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull {{ elasticsearch.fullName}}:{{ elasticsearch.tag }}
ExecStart=/usr/bin/docker run --rm --name %n \
    --network {{ dockerNetworkName }} \
    -e "discovery.type=single-node" \
    -v elasticsearch_data:/usr/share/elasticsearch/data \
    {{ elasticsearch.fullName}}:{{ elasticsearch.tag }}

[Install]
WantedBy=multi-user.target