[Unit]
Description={{ appDict.shortName }} Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=infinity
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull {{ appDict.fullName}}:{{ appDict.tag }}
ExecStart=/usr/bin/docker run --rm --name %n \
    --network {{ dockerNetworkName }} \
    --env "VIRTUAL_HOST={{ appDict.shortName }}.{{ baseHost }}" \
    --env "LETSENCRYPT_HOST={{ appDict.shortName }}.{{ baseHost }}" \
    {{ appDict.fullName}}:{{ appDict.tag }}

[Install]
WantedBy=multi-user.target